/* experience pane styles */

.experiencepane {
  position: relative;
  top: 0;
  left: 0;
  transition: var(--animation);
  border-radius: var(--radius);
}

.experiencepane .paneheader {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 5px;

  cursor: pointer;

  width: 100%;
  border-radius: var(--radius) var(--radius) 0 0;
  border: var(--thickness) solid var(--accent); /* TODO w/ button: relative to container body */
  background: var(--crust);
}

/* selecting/deselecting */
.experiencepane.unselected>.panebody, .experiencepane.closed>.panebody {
  gap: 5px;
}

.experiencepane.unselected>.panebody>.small, .experiencepane.closed>.panebody>.small {
  max-height: 0;
}

.arrow {
  transition: var(--animation);
  transform: rotate(90deg);
}

.unselected .arrow, .closed .arrow {
  transform: rotate(0deg);
}

.unselected .paneheader {
  cursor: default;
}
/* end selecting/deselecting */

.experiencepane .paneheader .role {
  color: var(--contrast-crust);
  font-weight: 500;
}

.experiencepane .panebody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  transition: var(--animation);

  width: 100%;
  height: auto;
  padding: 12px 20px 12px 20px;
  background: var(--mantle);
  border-radius: 0 0 var(--radius) var(--radius);
  border: solid var(--accent);
  border-width: 0 var(--thickness) var(--thickness) var(--thickness);
}

.experiencepane .panebody .subheader {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experiencepane .employer {
  color: var(--contrast-crust);
  font-weight: 600 !important;
}

.experiencepane .panebody>.small {
  transition: all 0.1s linear; /* not using --animation variable because max-height fix messes with timings */
  overflow-y: hidden;
  max-height: var(--max-height); /* here is the janky fix I was talking about */
}
