@import './experiencepane.css';
@import './infopane.css';
@import './projectpane.css';
@import './contactpane.css';
@import './sectionpane.css';

/* links pane stylesheets, provides common pane styles */

.skills {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.skills:empty {
  display: none;
}

/* hover */
.experiencepane:hover, .infopane:not(#borderless):hover, .contactpane:hover {
  top: -3px;
  left: -3px;
  box-shadow: 3px 3px 0 var(--accent);
}

.projectpane:hover, .infopane#borderless:hover {
  top: -3px;
  left: -3px;
  box-shadow: 3px 3px 0 var(--accent);
}
