@import './experiencepane.css';
@import './infopane.css';
@import './projectpane.css';
@import './contactpane.css';

/* links pane stylesheets, provides common pane styles */

.skills {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

/* selecting/deselecting */
.unselected>.panebody, .closed>.panebody {
  gap: 5px;
}

.unselected>.panebody>.small, .closed>.panebody>.small {
  max-height: 0;
}

.unselected .arrow, .closed .arrow {
  transform: rotate(0deg);
}

/* for project pane selecting/deselecting, see projectpane.css as it is unique */
