.projectpane {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  padding: 10px;

  opacity: 1;
  transition: var(--animation);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--mantle);
  border-radius: var(--radius);
}

.projectpane:nth-child(even) {
  flex-direction: row-reverse;
}

.projectpane .panebody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  max-width: 40%;
  aspect-ratio: 16/9;
  
  object-fit: cover;
  object-position: top;
  border-radius: var(--radius);
  border: var(--thickness) solid var(--crust)
}

.title {
  display: flex;
  align-items: center;
}

.title .body, .title .redirect {
  color: var(--contrast-crust);
  font-weight: 600 !important;
}

.title .redirect {
  position: relative;
  top: 0;
  left: 0;
  transition: var(--animation);
  width: 20px;
}

.projectpane:hover .redirect {
  top: -3px;
  left: 3px;
}

/* selecting/deselecting */
.projectpane.unselected {
  opacity: var(--unselected-opacity);
}

.projectpane:hover {
  opacity: 1 !important;
}
