/* section-specific styles */

.narrowcontent {
  width: var(--content-width);
}

.narrowcontent>*:not(:last-child) {
  margin-bottom: 2rem;
}


/* about styles */
#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#about .body:not(:last-of-type) {
  margin-bottom: 1rem;
}


#about .body a {
  display: inline;
  height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-weight: 500;
  color: var(--accent);
}

#about .body a:hover {
  color: var(--accent);
  filter: brightness(120%)
}


/* experience & involvement styles */
#experience, #involvement {
  padding-top: 1rem;
}

#involvement {
  padding-bottom: 2rem;
}

/* project styles */
#projects {
  padding-top: 1rem;
}

section .projects {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
  margin-bottom: 3rem;
  transition: var(--animation);
  
  background-color: var(--crust);

  border: var(--thickness) solid var(--accent);
  border-radius: var(--radius);
  width: 100%;
}

section .projects:hover {
  top: -3px;
  left: -3px;
  box-shadow: 3px 3px 0 var(--accent);
}