.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: var(--text-lighter);
    box-shadow: inset 0px 6px 8px -6px var(--text-dark);
}

.content{
    width: 1040px;
    max-width: min(85%, 100%); /* pick smaller: 85% or 1040px */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-links {
    display: flex;
}

.message {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message p {
    color: var(--text-dark);
    margin: 7px 0 7px 0;
}

.footer ul {
    display: flex;
}

.footer li {
    padding: 0 15px;
    transition-duration: 0.3s;
}

.footer a {
    text-decoration: none;
    color: var(--text-dark);
    transition-duration: 0.3s;
}

.footer a:hover {
    color: var(--text-darkest)
}

@media screen and (max-width: 768px) {
    .footer .content {
        justify-content: center;
    }

    .footer p {
        text-align: center;
    }

    .footer .foot-links {
        display: none;
    }
}