/* main content styles */

main {
  margin: 0 1rem 5rem 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section:not(:last-of-type) {
  padding-bottom: 1rem;
}

footer {
  margin-top: 4rem;
}

.narrowcontent {
  width: var(--content-width);
}

.narrowcontent>div:not(:last-of-type) {
  margin-bottom: 2rem;
}


/* timeline styles */

.line {
  position: relative;
}

.line::before {
  content: '';
  position: absolute;
  
  left: -20px;
  width: 4.25rem;
  height: 100%;

  z-index: -1;

  border-right: var(--thickness) solid var(--accent);
}

.startline::before {
  content: '';
  position: absolute;

  margin: -1rem 0 0 -1.25rem;
  width: 4.25rem;
  height: 2rem;

  z-index: -1;

  border-color: var(--accent);
  border-top-style: solid;
  border-right-style: solid;
  border-radius: 0 20px 0 0;
  border-width: var(--thickness);
}

.endline {
  margin-bottom: 3rem;
}

.endline::after {
  content: '';
  position: absolute;

  margin: 0 0 0 -1.25rem; /* see #section for y offset (section margin) */
  width: 4.25rem;
  height: 2rem;

  z-index: -1;

  border-color: var(--accent);
  border-bottom-style: solid;
  border-right-style: solid;
  border-radius: 0 0 20px 0;
  border-width: var(--thickness);
}


/* about styles */

#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#about .body:not(:last-of-type) {
  margin-bottom: 1rem;
}


/* experience & involvement styles */
#experience, #involvement {
  padding-top: 1rem;
}

#involvement {
  padding-bottom: 2rem;
}

/* project styles */

#projects {
  padding-top: 1rem;
}

section .projects {
  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 0.5rem 0.5rem 0 var(--accent)/*, 1rem 1rem 0 var(--crust)*/;
  padding: 10px;
  margin-bottom: 3rem;
  
  background-color: var(--crust);

  border: var(--thickness) solid var(--accent);
  border-radius: 5px;
  width: 100%;
}


/* footer styles */

footer {
  align-self: center;
  width: var(--content-width);
}