nav {
    position: relative;
    width: 100%;
    height: 80px;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    transition-duration: 0.1s;
    z-index: 100;
}

.navbar {
    width: 1040px;
    max-width: min(85%, 100%); /* pick smaller: 85% or 1040px */
    padding: 0 7.5vw;
    border-radius: 0 0 3vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: var(--text-lightest);
    font-weight: 600;
    letter-spacing: 0.02rem;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--text-lightest);
    color: var(--secondary-bg);
    font-size: 22px;
    font-weight: 700;

    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;

    transition-duration: 0.3s;
}

.logo:hover {
    background-color: var(--text-lighter);
}

.toggleMenu {
    display: none;
}

.links {
    list-style: none;
    display: flex;
}

.links li {
    display: flex;
    height: 80px; /* no problem because not visible <850px */
    padding: 0 20px;
    align-items: center;
    transition-duration: 0.3s;
}

.links a:not(.active):hover li {
    color: var(--text-lighter);
}

.links a.active {
    color: var(--text-light);
}

/* change li to li:not(:last-child) and split padding if want flush nav later */

@media screen and (max-width: 850px) {
    nav {
        height: 60px;
        flex-wrap: wrap;
    }

    .navbar {
        flex-wrap: wrap;
        background-color: var(--secondary-bg);
    }

    .main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        font-size: 20px;
        width: 38px;
    }

    .toggleMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
        aspect-ratio: 1/1;
        cursor: pointer;
    }

    .burger {
        background-color: var(--text-lightest);
        margin: 0.2rem 0;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0.05rem;
    }

    #close .links {
        display: none;
    }
    
    #open .links {
        margin-left: -38px; /* janky but basically extend line to logo start */
        display: block;
        width: 100%;
    }

    #open li {
        height: 4rem;
        display: flex;
        justify-content: center;
        border-top: solid var(--main-bg) 1px;
    }
}