nav {
    position: relative;
    width: 100%;
    height: 80px;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    transition-duration: 0.1s;
    z-index: 100;
}

.navbar {
    width: 1040px;
    max-width: min(85%, 100%); /* pick smaller: 85% or 1040px */
    padding: 0 7.5vw;
    border-radius: 0 0 2vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: var(--text-lightest);
    font-weight: 600;
    letter-spacing: 0.02rem;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--text-lightest);
    color: var(--text-darkest);
    font-size: 22px;
    font-weight: 700;

    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;

    transition-duration: 0.3s;
}

.logo:hover {
    background-color: var(--text-lighter);
}

.toggleMenu {
    display: none;
}

.links {
    list-style: none;
    display: flex;
    height: 100%;
}

.links li {
    display: flex;
    height: 100%;
    padding: 0 20px;
    align-items: center;
    transition: color 0.3s;
}

.links a:not(.active):hover li {
    color: var(--text-lighter);
}

.links a.active {
    color: var(--text-light);
}

/* change li to li:not(:last-child) and split padding if want flush nav later */

@media screen and (max-width: 850px) {
    nav {
        display: block;
        height: 60px;
    }

    .navbar {
        flex-wrap: wrap;
        overflow: visible;
    }

    .main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        font-size: 20px;
        width: 38px;
    }

    .toggleMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
        aspect-ratio: 1/1;
        cursor: pointer;
    }

    .burger {
        background-color: var(--text-lightest);
        margin: 0.2rem 0;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0.05rem;
        transition: all 0.2s ease-out;
    }

    .links {
        flex-direction: column;
        background-color: var(--text-darker);
        padding: 0;
        margin: 0;
        width: 100vw;
        border-radius: 0 0 1rem 1rem;
        
        transform: scaleY(0);
        transform-origin: top center;
    }

    .transition {
        transition: transform 0.2s ease-out;
    }
    
    .links li {
        height: 4rem;
        display: flex;
        justify-content: center;
    }

    .links a:not(:last-child) {
        border-bottom: solid var(--text-light) 1px;
    }

    #active.links {
        opacity: 1;
        transform: scaleY(1);
    }

    #active .top {
        transform: rotate(-135deg) translate(-0.15rem, -0.25rem);
    }

    #active .bottom {
        transform: rotate(135deg) translate(-0.1rem, 0.25rem);
    }
}