nav {
    width: 100%;
    height: 80px;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    transition-duration: 0.1s;
}

.navbar {
    width: 1040px;
    max-width: min(85%, 100%); /* pick smaller: 85% or 1040px */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: var(--text-lightest);
    font-weight: 600;
    letter-spacing: 0.02rem;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--text-lightest);
    color: var(--secondary-bg);
    font-size: 22px;
    font-weight: 700;

    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;

    transition-duration: 0.3s;
}

.logo:hover {
    background-color: var(--text-lighter);
}

.toggleMenu {
    color: var(--text-lightest);
    display: none;
}

.links {
    list-style: none;
    display: flex;
}

.links li {
    display: flex;
    height: 80px; /* no problem because not visible <850px */
    padding: 0 20px;
    align-items: center;
    transition-duration: 0.3s;
}

.links a:not(.active):hover li {
    color: var(--text-lighter);
}

.links a.active {
    color: var(--text-light);
}

/* change li to li:not(:last-child) and split padding if want flush nav later */

@media screen and (max-width: 850px) {
    nav {
        height: 60px;
    }

    .logo {
        font-size: 20px;
        width: 38px;
    }

    .toggleMenu {
        display: block;
    }

    .links {
        display: none;
    }
}