@import '../styles/components/pane.css';

.paneheader {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 5px;

  cursor: pointer;

  width: 100%;
  border-radius: 5px 5px 0 0;
  border: var(--thickness) solid var(--accent); /* TODO w/ button: relative to container body */
  background: var(--crust);
}

.paneheader .arrow {
  transition: var(--animation);
  transform: rotate(90deg);
  color: var(--contrast-overlay);
}

.paneheader .role {
  color: var(--contrast-crust);
  font-weight: 500;
}

.panebody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  transition: var(--animation);

  width: 100%;
  height: auto;
  padding: 12px 20px 12px 20px;
  background: var(--mantle);
  border-radius: 0 0 5px 5px;
  border: solid var(--accent); /* TODO w/ button: relative to container body */
  border-width: 0 var(--thickness) var(--thickness) var(--thickness);
}

.panebody .subheader {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.employer {
  color: var(--contrast-crust);
  font-weight: 600 !important;
}

.panebody>.small {
  transition: all 0.15s linear; /* not using --animation variable because max-height fix messes with timings */
  overflow-y: hidden;
  max-height: var(--max-height); /* here is the janky fix I was talking about */
}

.skills {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

/* selecting/deselecting */
.unselected>.panebody, .closed>.panebody {
  gap: 5px;
}

.unselected>.panebody>.small, .closed>.panebody>.small {
  max-height: 0;
}

.unselected .arrow, .closed .arrow {
  transform: rotate(0deg);
}


.infopane {
  padding: 8px 10px 8px 8px;
  border-radius: 5px;

  opacity: 1;
  transition: var(--animation);

  justify-content: space-between;
  background-color: var(--mantle);
  color: var(--contrast-overlay);
}

.infopane:hover {
  opacity: 1 !important;
}

.infopane.unselected {
  opacity: var(--unselected-opacity);
}

.infopane .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.infopane a {
  color: var(--contrast-overlay);
}

#borderless {
  border: none;
}

.projectpane {
  width: 100%;
  padding: 10px;

  opacity: 1;
  transition: var(--animation);

  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--mantle);
  border-radius: 5px;
}

.projectpane:hover {
  opacity: 1 !important;
}

/* selecting/deselecting */
.projectpane.unselected {
  opacity: var(--unselected-opacity);
}

.projectpane:nth-child(even) {
  flex-direction: row-reverse;
}

img {
  max-width: 40%;
  aspect-ratio: 16/9;

  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  border: var(--thickness) solid var(--crust)
}

.projectheader {
  display: flex;
  align-items: center;
}

.projectheader .body, .projectheader .redirect {
  color: var(--contrast-crust);
  font-weight: 600 !important;
}

.projectbody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactpane .paneheader {
  gap: 6px;
  padding: 6px 6px;
  cursor: default;
}

.paneheader .chat {
  color: var(--contrast-overlay);
}

.contactpane .panebody {
  align-items: center;
}