/* nav specific styles */

.small a {
  display: flex;
  align-items: center;
  
  color: var(--contrast-overlay);
  height: 2.2rem;
  
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.selection {
  width: 0;
  height: var(--thickness);
  background-color: var(--accent);
  transition: all 0.2s ease-out;
}

#active .selection, ul.small a:hover .selection {
  display: inline-block;
  width: 2rem;
  height: var(--thickness);
  margin-right: 0.5rem;
  background-color: var(--accent);
}

#active a, a:hover {
  color: var(--contrast-base);
}