@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  body {
    @apply font-mono;
  }

  img {
    /* border-radius: var(--radius-md); */
    border-radius: 100%;
  }

  a {
    text-decoration-line: underline;
    cursor: pointer;
  }

  button {
    cursor: pointer;
    background-color: var(--color-gray-200);
    border-radius: var(--radius-md);
  }

  input {
    outline-color: red;
  }
}

@layer components {
}
