.App {
  text-align: center;
}

:root {
  /* Palette */
  --main-bg: rgb(240, 237, 229);
  --secondary-bg: rgb(29, 45, 68);
  --text-light: rgb(161, 159, 152);
  --text-lighter: rgb(197, 195, 189);
  --text-lightest: rgb(240, 237, 229);
  --text-dark: rgb(64, 81, 105);
  --text-darker: rgb(52, 69, 92);
  --text-darkest: rgb(29, 45, 68);
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-bg);
  color: var(--text-darkest);
}