/* header styles */

header {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 40%;
  height: 100vh;

  padding: 5rem 1rem;

  border: solid var(--accent);
  border-width: 0 var(--thickness);

  background-color: var(--mantle);
}

header h1 {
  margin-bottom: 1rem;
}

header h2 {
  margin-bottom: 1rem;
  color: var(--contrast-mantle);
}

header .body {
  color: var(--contrast-crust);
  margin-bottom: 6rem;
}

/* nav styles */

.small a {
  display: flex;
  align-items: center;
  
  color: var(--contrast-overlay);
  height: 2.2rem;
  
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.selection {
  width: 0;
  height: var(--thickness);
  background-color: var(--accent);
  transition: all 0.2s ease-out;
}

#active .selection, ul.small a:hover .selection {
  display: inline-block;
  width: 2rem;
  height: var(--thickness);
  margin-right: 0.5rem;
  background-color: var(--accent);
}

#active a, a:hover {
  color: var(--contrast-base);
}


/* socials styles */

.socials a {
  font-weight: 500;
  color: var(--contrast-overlay);
  text-decoration: none;
  transition: var(--animation);
}

.socials a:hover {
  color: var(--contrast-base);
}


/* responsive */

@media screen and (max-width: 1023px) {
  header {
    position: relative;
    width: auto;
    height: auto;
    padding: 5rem 5% 0 5%;

    border: none;
    background-image: linear-gradient(var(--mantle), var(--base));
  }
}

header h1 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.08rem;
}

header .body {
  margin-bottom: 1rem;
}

.small {
  display: none;
}
