@import './styles/text.css';

/* project-wide general styles */

* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
  scroll-behavior: smooth;
}

:root {
  /* dark color palette */
  --contrast-base: #eff1f5;
  --contrast-mantle: #dce0e8;
  --contrast-crust: #ccd0da;
  --contrast-overlay: #bcc0cc;
  --base: #232634;
  --mantle: #414559;
  --crust: #51576d;
  --overlay: #737994;
  --accent: var(--accent-1);
  --accent-1: #81c8be;
  --accent-2: #babbf1;

  --radius: 5px;
  --thickness: 2px;
  --content-width: 90%;
  --unselected-opacity: 0.4;
  --max-height: 6.5rem; /* janky height transition solution in panes.css/tsx */

  --animation: all 0.05s ease-out;

  background-color: var(--base);
  color: var(--contrast-base);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  text-justify: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* list and anchor style */

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* svg styles */

svg {
  width: 25px;
}

.arrow, .redirect, .chat, .projectsvg, .resumenoanchorsvg {
  color: var(--contrast-overlay);
  flex-shrink: 0;
}


/* general layout */

body {
  display: flex;
  flex-direction: row;
  place-items: center;

  margin: 0 auto;
  max-width: 64rem;
}

/* light mode */
/* @media (prefers-color-scheme: light) {
  :root {
    light color palette
    --base: #eff1f5;
    --mantle: #dce0e8;
    --crust: #ccd0da;
    --overlay: #bcc0cc;
    --contrast-base: #51576d;
    --contrast-mantle: #414559;
    --contrast-crust: #232634;
    --contrast-overlay: #737994;

    --accent: var(--accent-2);
    --accent-1: #dd7878;
    --accent-2: #7287fd;
  }
} */

@media screen and (max-width: 800px) {
  body {
    border: var(--thickness) solid var(--accent);
    border-top: none;
    border-bottom: none;
  }

  .content {
    flex-direction: column;
  }
}
